*{
    margin: 0;
    padding: 0;
}
body{
background-image: url(../d.jpg);
    background-size: cover;
}
header{
    background-color: transparent;
}
.icon{
    position: relative;
}
.icon img{
    position: absolute;
    top: 35px;
    left: 20px;
}
ul{
    float: right;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    position: relative;
    border-bottom: 1px solid white;
    height: 120px;
    text-align: center;
    transition: 0.3s;
}
a{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 35px;;
    border: 1px solid white;
    background-color: rgba(255 255 255 / 50%);
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s;
}
a:hover{
    color: black;
    background-color: cyan;
}
.s{
    background-color: hsl(348 83% 47% / 50%);
}
.main{
    position: relative;
}
.form{
    border: 1px solid white;
    text-align: center;
    position: absolute;
    width: calc(25% + 100px);
    top: 170px;
    right: 35%;
    height: 450px;
    background-color: rgba(255 255 255 / 5%);
    border-radius: 15px;
}
label{
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 115px;
    left: 15px;
    font-weight: bold;
}
input{
    position: absolute;
    background-color: rgba(255 255 255 / 50%);
    top: 100px;
    left: 120px;
    width: 250px;
    height: 75px;
    border-radius: 15px;
    border: 1px solid rgba(255 255 255 / 50%);
}
.g{
    position: absolute;
    left: 15px;
    top: 250px;
}
.g2{
    position: absolute;
    left: 170px;
    top: 235px;
}
h1{
    font-size: 50px;
    position: relative;
    top: 10px;
    color: black;
}